<!-- About Section Start -->
<section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
            <img class="img-fluid bio-pic" src="assets/images/nkaka.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
            <h3 style="font-weight:800">Hello Folk!</h3>
            <p>I am a student at the university of Rwanda in the depertment of computer science with the
              Skills of Java, Python,mobile computing and artificial intelligence. I can serve as a
              frontend developer with angular using a typescript technology .
              I am  currently pursuing a Bachelor's degree focused in Computer Science
              from University of Rwanda.</p>
            <div class="about-profile">
              <ul class="admin-profile">
                <li><span class="pro-title"> Name </span> <span class="pro-detail">Eric Nkaka</span></li>
                <li><span class="pro-title"> Age </span> <span class="pro-detail">24 Years </span></li>
                <!-- <li><span class="pro-title"> Experience </span> <span class="pro-detail">4 Years</span></li> -->
                <li><span class="pro-title"> Country </span> <span class="pro-detail">Rwanda</span></li>
                <li><span class="pro-title"> Location </span> <span class="pro-detail">Kicukiro, Kigali</span></li>
                <li><span class="pro-title"> E-mail </span> <span class="pro-detail">nkakaeric96@gmail.com</span></li>
                <li><span class="pro-title"> Phone </span> <span class="pro-detail">+ (250) 782468006</span></li>
              </ul>
            </div>
            <!-- <a href="#" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>
              <a href="#" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section End -->
