.spinner {
    /* margin: 100px auto; */
    width: 75px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  .spinner > div {
    background-color: #00b4d9;
    height: 100%;
    width: 10px;
    margin: 1px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
  
  /* .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  } */
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  } 

  .social-icon li {
    display: inline-block;
  }
  
  .social-icon li a {
    color: #000;
    background: #fff;
    width: 35px;
    height: 35px;
    line-height: 38px;
    display: block;
    text-align: center;
    border-radius: 100%;
    font-size: 16px;
    margin: 15px 6px 12px 6px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }
  
  .social-icon li a:hover {
    color: #fff;
  }
  .social-icon li .facebook:hover {
    background: #3b5999;
  }
  
  .social-icon li .twitter:hover {
    background: #4A9CEC;
  }
  
  .social-icon li .instagram:hover {
    background: #D6274D;
  }
  
  /* .social-icon li .linkedin:hover {
    background: #1260A2;
  }
   */
  .social-icon li .google:hover {
    background: #CE332A;
  }
  .lin{
    background-color:  #1260A2;
    font-size:36px
  }
  
.color_icon{
    color: white;
}
.color_icon2{
    color: white
}
