<!-- Services Section Start -->
<section id="services" class="services section-padding">
    <h2 class="section-title wow flipInX"  data-wow-delay="0.4s" >
      SKILLS</h2>
    <div class="container">
      <div class="row">

         <!-- Services item -->
         <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon">
                <i class="icon-layers"></i>
              </div>
              <div class="services-content">
                <h3><a href="https://angular.io/" target="_blank">Angular</a></h3>
                <p>Angular is a TypeScript-based open-source front-end web application framework
                   led by the Angular Team at Google and by a community of individuals and corporations.</p>
              </div>
            </div>
          </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-3 col-xs-12">
          <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
            <div class="icon">
              <i class="icon-grid"></i>
            </div>
            <div class="services-content">
              <h3><a href="https://www.python.org/" target="_blank">Python</a></h3>
              <p>Python is an interpreted, high-level, general-purpose programming language.</p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-3 col-xs-12">
          <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
            <div class="icon">
              <i class="icon-layers"></i>
            </div>
            <div class="services-content">
              <h3><a href="https://docs.oracle.com/javase/7/docs/technotes/guides/language/" target="_blank">Java</a></h3>
              <p>Java is a general-purpose computer-programming language that is concurrent,
                 class-based, object-oriented.</p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-3 col-xs-12">
          <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
            <div class="icon">
              <i class="icon-grid"></i>
            </div>
            <div class="services-content">
              <h3><a href="https://www.android.com/" target="_blank">Android</a></h3>
              <p>Android is probably the most popular and strongest smartphone operating system by Google.</p>
            </div>
          </div>
        </div>
       

        <!-- Services item -->
        <!-- <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon">
                <i class="icon-grid"></i>
              </div>
              <div class="services-content">
                <h3><a href="https://www.stellar.org/" target="_blank">Stellar Blockchain</a></h3>
                <p>Stellar is an open-source, decentralized protocol for digital currency to fiat currency
                   transfers which allows cross-border transactions between any pair of currencies.</p>
              </div>
            </div>
          </div> -->

          <!-- Services item -->
        <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon">
                <i class="icon-bubbles"></i>
              </div>
              <div class="services-content">
                <h3><a href="https://en.wikipedia.org/wiki/Agile_software_development" target="_blank">Agile Methodologies</a></h3>
                <p>Agile software development is an approach to software development
                   under which requirements and solutions evolve through the collaborative
                    effort of self-organizing and cross-functional teams and their customer/end user.</p>
              </div>
            </div>
          </div>

      </div>
    </div>
  </section>
  <!-- Services Section End -->
